.Rproj.user
.Rhistory
.Rdata
.RDataTmp
.RDataTmp1
.RDataTmp2
.httr-oauth
.DS_Store
.quarto

/.quarto/

exercises/**/data/
exercises/*/data/

In-Class_Ex/**/data/
In-Class_Ex/*/data/

exercises/**/*.txt
exercises/*/*.txt

In-Class_Ex/**/*.txt
In-Class_Ex/*/*.txt

_site/**/*.txt
_site/*/*.txt

**/data/